ConsoleSvcClient/Connected Services/CalculatorService/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pair">
    <xs:sequence>
      <xs:element minOccurs="0" name="V1" type="xs:int" />
      <xs:element minOccurs="0" name="V2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pair" nillable="true" type="tns:Pair" />
  <xs:simpleType name="Operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Substract" />
      <xs:enumeration value="Multiply" />
      <xs:enumeration value="Divide" />
      <xs:enumeration value="Print" />
      <xs:enumeration value="AddPair" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
</xs:schema>